*{
  text-decoration:none;
  color:black;
  margin:0;
  padding:0;
}

#grid-container{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 0.2fr 0.8fr 0.3fr 0.5fr 0.8fr 1fr 0.3fr;
  grid-template-areas: 
  "header"
  "hovedbilde"
  "nav"
  "article1"
  "img2"
  "article2"
  "footer";
}


/*       Startside      */
/*   HEADER   */
header{
  font-size:1rem;
  grid-area:header;
  padding:4px;
  border-style:solid;
  border-width:1px;
  border-top:none;
  border-left:none;
  border-right:none;
}
header ul{
  list-style: none;
  text-align:center
}
header li{
  display:inline-block;
  padding:5px;
}
.logo{ 
  font-size:30px;
}
.logo a{
  font-family:Limelight;
}
.bars, .cart, .heart, .user:hover{
  cursor:pointer;
}

header form{
  display:flex;
  justify-content: center;
}
header input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  height:17px;
  font-size: 12px;
}
header input[type="submit"] {
  background: rgb(235,204,204);
  color: rgb(128, 93, 93);
  border-style:solid;
  border-width:1px;
  border-color:rgb(169, 150, 150);
  border-radius: 4px;
  cursor: pointer;
  width:50px;
  height:20px;
  font-size:12px;
}

/*   HOVEDBILDE    */
.hovedbilde{
  grid-area:hovedbilde;
  width:100%;
}

/*    NAV   */
nav{
  grid-area:nav;
  margin:10px;
}
.kategorier{
  color:rgb(142, 97, 29);
   font-size: 1.3rem;
   padding-bottom:10px;
   margin:0;
   display:flex;
   justify-content: center;
}
.menn, .kvinner, .gym, .tur, .formell{
  border-style:solid;
  border-width:1px;
  padding:5px;
  background-color: rgb(249, 231, 231);
  border-color:rgb(202, 179, 149)
}
.navbar{
  display:flex;
  justify-content:space-between;
}

h3{
  display:flex;
  justify-content: center;
}

/*   ARTICLE 1   */
.article1{
  grid-area:article1;
  margin:10px;
}

/* IMG 2 */
.img2{
  width:100%;
  grid-area:img2;
}

/*   ARTICLE 2 */
.article2{
  grid-area:article2;
  margin:10px;
}

/*   FOOTER    */
footer{
  grid-area:footer;
  background-color:rgb(255, 225, 225);
  width:100%;
  font-size:1rem;
  padding:10px;
}
footer section{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:8px;
}
footer ul{
  list-style: none;
  margin:5px;
  display:inline-block;
}

footer input[type="text"] {
  padding: 3px;
  border: 1px solid #6e4040;
  border-radius: 4px;

  
}
footer input[type="submit"] {
  background: rgb(252, 240, 240);
  color: rgb(128, 93, 93);
  border-style:solid;
  border-width:1px;
  border-color:rgb(137, 92, 92);
  border-radius: 4px;
  cursor: pointer;
  width:50px;
}
.nyhetsbrev{
  display: inline-block; 
}

/* MEDIA FORSIDE*/
@media only screen and (min-width: 600px) {
  #grid-container{
      margin:10px;
      display:grid;
      height:100vh;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      gap:10px;
      grid-template-areas: 
      "header header header header"
      "img1 img1 nav article3"
      "img1 img1 article2 article2"
      "article1 img2 article2 article2"
      "footer footer footer footer";
  }
  header{
    grid-area:header;
  }
  header li{
    padding-left: 35px;
    padding-right:35px;
  }
  .navbar{
    display:flex;
    flex-direction:column;
    padding: 5px;
  }
  .hovedbilde{
    grid-area:img1;
    height:100%;
    object-fit:cover;
  }
  nav{
    grid-area:nav;
  }
  .navbar{
    padding:10px;
  }
  .menn, .kvinner, .gym, .tur, .formell{
    margin:8px;
  }
  .article1{
    grid-area:article1;
  }
  .article2{
    grid-area:article2;
  }
  .article3{
    grid-area:article3;
  }
  .img2{
    grid-area:img2;
  }
  footer{
    grid-area:footer;
    display: flex;
    justify-content: center;
    
  }
  footer ul li{
    display:inline;
    padding: 20px
  }
}





/*  PRODUKTSIDE  */

#grid-container2{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 0.2fr 0.1fr 10fr 0.01fr 0.8fr;
  grid-template-areas: 
  "header"
  "filter-section"
  "main"
  "pages2"
  "footer";
}
header{
  grid-area:header;
}

.filter-section{
  grid-area:filter-section;
}

main{
  grid-area:main;
}

/* Brødsmuler */

ul.breadcrumb {
  padding: 20px 20px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}
/*Funnet denne metoden på W3Schools*/
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a:hover {
  color: #000000;
  text-decoration: underline;
} 

/* FILTER */

ul.filter li{
  font-size:13px;
  display:inline;
  padding:5px;
}
.filter-btn, .sorter-btn{
  padding:4px 10px;
  background-color: rgb(255, 224, 224);
  border-width:1px;
}
.filter-btn, .sorter-btn:hover{
  cursor:pointer;
}
/* PAGES */
.pages{
  padding:10px;
  padding-left:40px;
  float:right;
  
}
.pages li{
  display:inline;
  color:rgb(110, 108, 108);
  font-size:14px;
}

.pages li:hover{
  cursor:pointer;
  text-decoration: underline;
}
.six{
  text-decoration: underline;
}

/* BILDER */

img{
  width:190px;
}

.product-img{
  display:flex;
  flex-wrap:wrap;
  gap: 10px;
}

.pages2{
  grid-area:pages2;
  margin:10px;
}
.pages2 li{
  display:inline-block;
  color:rgb(110, 108, 108);
  font-size:14px;
}

section p:hover{
  text-decoration: underline;
}

footer{
  grid-area:footer;
}

/* MEDIA PRODUKTSIDE */
@media only screen and (min-width: 600px) {
  #grid-container2{
      margin:10px;
      display:grid;
      height:100vh;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-rows: 0.9fr 0.3fr 0.9fr 0.9fr 0.9fr;
      gap:10px;
      grid-template-areas: 
      "header header header header"
      "filter-section filter-section filter-section filter-section"
      "main main main main"
      "pages2 pages2 pages2 pages2"
      "footer footer footer footer";
  }

  header{
    grid-area:header;
  }
  .filter-section{
    grid-area:filter-section;
    text-align:center;
    padding: 10px;
  }
  .pages{
    margin-right:40px;
  }
  main{
    grid-area:main;
  }
  .pages2{
    grid-area:pages2;
    margin:10px;
  }

  footer{
    grid-area:footer;
    display: flex;
    justify-content: center;
  }
  footer ul li{
    display:inline;
    padding: 20px
  }
}

/*   RETURSIDE   */

#grid-container3{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 0.2fr 0.3fr 5fr 0.01fr ;
  grid-template-areas: 
  "header"
  "aside"
  "main"
  "footer";
  }
header{
  grid-area:header;
}
aside{
  grid-area:aside;
  float:left;
  border-style:solid;
  border-width:1px;
  border-top:none;
  border-color:rgb(99, 87, 72);
  padding-left:20px;
  padding-bottom:20px;
  margin-bottom:20px;
  border-left:none;
}
h2{
  font-size:20px;
  margin-bottom:20px;
}
main{
  grid-area:main;
  margin-bottom:20px;
}
.cheese{
  padding-bottom:15px;
}
footer{
  grid-area:footer;
}

/* MEDIA RETURSIDE */

@media only screen and (min-width: 600px) {
  #grid-container3{
      margin:10px;
      display:grid;
      height:100vh;
      grid-template-columns: 0.4fr 1fr 1fr 1fr ;
      grid-template-rows: 0.4fr 0.3fr 0.9fr 0.9fr 0.4fr;
      gap:10px;
      grid-template-areas: 
      "header header header header"
      "aside main main main"
      "aside main main main"
      "aside main main main"
      "footer footer footer footer";
  }

  header{
    grid-area:header;
  }
  aside{
    grid-area:aside;
    border-bottom:none;
    display: flex;
    justify-content: center;
    
  }
  aside li{
    padding:15px;
  }
  main{
    grid-area:main;
  
  }
footer{
  grid-area:footer;
  display: flex;
  justify-content: center;
}
footer ul li{
  display:inline;
  padding: 20px
}
}


